
<div role="navigation" class="navbar navbar-default">
	<div class="container-fluid header">
		<div class="nav-header ">
			<div class="collapse navbar-collapse mynav">

				<span class="col-sm-1"><a class="navbar-brand brand">TMS</a></span>


			</div>
		</div>
	</div>
</div>
<div class="container" ng-controller="forgotpasscontroller">
	<div class="col-md-5 col-md-offset-3">

		<div class="alert alert-success" ng-show="successmail">
			<strong>Success!</strong>&nbsp&nbsp <a href="https://mail.google.com"
				target="_blank">Go to your mail box for reset your password</a>
		</div>
		<div class="alert alert-info" ng-show="successmail">
			<strong></strong>&nbsp&nbsp <a href="#/"
				target="_blank">Click here to login and proceed !!</a>
		</div>

		<form role="form" ng-submit="sendEmail()" name="activate" novalidate
			ng-hide="successmail">
			<div class="row">
				<div class="panel panel-default">
					<div class="page-header text-center">
						<h3>Forgot Password</h3>
					</div>
					<div class="panel-body">
						<div class="form-group required">
							<label for="username" class="control-label">Enter your
								Username</label> <input class="form-control input-sm" name="username"
								type="username" ng-model="userdata.username" required
								placeholder="Enter username" required />
						</div>
					</div>
				<!-- 	<div class="panel-body">
						<div class="form-group required">
							<label for="username" class="control-label">Enter your
								Domain</label> <input class="form-control input-sm" name="domain"
								type="domain" ng-model="userdata.domain" required
								placeholder="Enter domain" required />
						</div>
					</div> -->
					<div class="row ">
						<div class="form-group " align="center">
							<button type="submit" class="btn btn-primary"
								ng-disabled="isFormInvalid()" data-loading-text="Saving..."
								id="btnSave">
								<span class="glyphicon glyphicon-floppy-disk"></span> Send Email
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
