<div role="navigation" class="navbar navbar-default">
	<div class="container-fluid header">
		<div class="nav-header ">
			<div class="collapse navbar-collapse mynav">

				<span class="col-sm-1"><a class="navbar-brand brand">TMS</a></span>


			</div>
		</div>
	</div>
</div>
<div ng-controller="registercontroller">
<toast></toast>

<div class="container" ng-controller="registercontroller">
	<div class="col-sm-6 col-sm-offset-2" >
		<form role="form" ng-submit="registeradmin()" name="activate"
			id="activateform" novalidate>
			<div class="row">
				<div class="panel panel-default">
					<div class="page-header text-center">
						<h3>{{title}}</h3>
					</div>
					<div class="panel-body">
						<div class="form-group required">
							<label for="name" class="control-label">Name</label> <input
								class="form-control input-sm" name="name" type="text"
								ng-model="user.name" required placeholder="Enter your name" />
						</div>
						<div class="form-group required">
							<label for="username" class="control-label">Username</label> <input
								class="form-control input-sm" name="username" type="text"
								ng-model="user.username" required
								placeholder="Enter username" />
						</div>
						<div class="form-group required">
							<label for="tenantname" class="control-label">Company
								Name</label> <input class="form-control input-sm" name="tenantname"
								type="text" ng-model="tenant.tenantName" required
								placeholder="Enter Tenant Name" autocomplete="off" />
						</div>
						<div class="form-group required">
							<label for="password" class="control-label">Company
								domain</label> <input class="form-control input-sm" name="domain"
								type="text" ng-model="tenant.domain" required
								placeholder="domain.com" />
						</div>
						<div class="form-group required">
							<label for="email" class="control-label">Email</label> <input
								class="form-control input-sm" name="email" type="email"
								ng-model="user.email" required placeholder="xyz@company.com" />
						</div>
						<div class="form-group required">
							<label for="password" class="control-label">Password</label> <input
								class="form-control input-sm" name="password" type="password"
								ng-model="user.password" required
								placeholder="Enter Password" />
						</div>
						<div class="form-group required" ng-class="matchPassword()">
							<label for="password" class="control-label"> Confirm
								Password </label> <input class="form-control input-sm"
								name="confirmPassword" type="password"
								ng-model="confirmPassword" required
								placeholder="Confirm Password" /><span
								ng-show="matchPassword()"
								class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
						<div ng-show="matchPassword()"
							style='color: #a94442; padding-bottom: 10px;'>{{passwordDoNotMatchMsg}}</div>

					</div>
					<div class="row ">
						<div class="form-group " align="center">
							<button type="submit" class="btn btn-primary"
								ng-disabled="isFormInvalid()" data-loading-text="Saving..."
								id="btnSave">
								<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp&nbsp
								Register
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>

</div>
</div>